@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<div class="sub-page-content" style="padding: 0rem 2rem;">
    <img style="width: 20rem;" src="~/img/about/me.png" />
    <div class="text-holder text-center_medium-up">
        <h3>THANK YOU FOR VISITING MY PAGE :)</h3>
        <p>HELLO! My name is Dahee Kim and I'm working in Dublin, IRELAND as a graphic designer.
        <br class="visible-medium-up" />I specilize in illustration branding & identity design, and packaging design</p>        
        <p>I believe that design is a process and that through research and exploration,
        the right solution will present itself</p>
    </div>    
</div>