@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="sub-page-content">
    <div class="text-holder text-center">
        <h3>LET'S MAKE SOMETHING COOL TOGETHER</h3>
        <h4><a href="mailto:dnpproject@gmail.com">dnpproject@gmail.com</a></h4>
    </div>    
</div>