@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CHATELAINE";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/onepoint/onepoint-hero.jpg" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>CHATELAINE</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>HYUNGJI GROUP</h4>
                <h5>SYMBOL ICON DESIGN</h5>
            </div>
            <div class="col_medium-first text-grey">
                <p>
                    CHATELANE is a colthing brand.<br />
                    They wanted to express European sensibilities,
                    especially French. They wanted to make a second line
                    which was comfortable and casual
                </p>
                <p>
                    BICHON FRISE is one of the most famous dogs in France and
                    the dog is associated with high quality and lovely images.
                </p>
            </div>
        </div>
    </div>
    <img src="img/projects/onepoint/onepoint-sub-1.jpg" />
    <div></div>    
    <img src="img/projects/onepoint/onepoint-sub-2.jpg" />
    <img src="img/projects/onepoint/onepoint-sub-3.jpg" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>