@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "TAYLOR PRUNES";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/taylor-prunes/taylor-prunes-hero.jpg" />
</div>
<div class="sub-page-content project-images">

    <div class="text-holder">
        <h1>TAYLOR PRUNES</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>TAYLOR BROTHERS FARMS</h4>
                <h5>BRAND VISUAL IDENTITY, PACKAGING SYSTEM</h5>
            </div>
            <div class="col_medium-first text-grey">
                <p>
                    Taylor Brothers Farms is a major international supplier of bulk conventional and organic California dried plums for the U.S., European, and Asian markets. The founder Earl Taylor started farming the soils of Sutter County in 1916, 30 miles north of Sacramento, California.
                </p>
                <p>
                    I was asked to make the new packaging for Taylor prunes for the Asian markets.<br />
                    Taylor Prunes has very few products lines (it goes from dry prunes, juices to concentrates) so I had to think on how to make the brand unity visible in the packagings.
                </p>
                <p>
                    I wanted to show on the packaging design that the fruits were organic and the sunny side of California, as well as the authenticity of this century old farm. I also wanted to tell Asian customers the story of prune fruits as they are not very common there. So I added a circle line around the logo because I wanted to add more emphasis to the logo design.
                </p>
            </div>
        </div>
    </div>

    <img src="img/projects/taylor-prunes/taylor-prunes-sub-1.jpg" style="max-width:75%" />
    <div class="image-group">
        <img src="img/projects/taylor-prunes/taylor-prunes-sub-2.jpg" />
        <img src="img/projects/taylor-prunes/taylor-prunes-sub-3.jpg" />
    </div>
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>