@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "YVOLUTION BRAND REFRESH";
    Page.Hero = 1;
}
<div class="hero">
    <img src="~/img/projects/yvolution-refresh/yvolution-refresh-hero.png" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>YVOLUTION</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YYVOLVE SPORT</h4>
                <h5>YVOLUTION BRAND REFRESH</h5>
            </div>
            <div class="col_medium-first text-grey">
                <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-1.png" />
            </div>
        </div>
    </div>
    <div class="grid-1_medium-2">
        <div class="col">
            <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-2.png" />
        </div>
        <div class="col flex-center-vertical text-left">
            <h2>Go Back To Basic And Classic.</h2>
            <p>
                Yvolution is the oldest brand in Yvolve Sport company and the most well known brand in the company.
            </p>
            <p>
                So I thought we shouldn't change the logo too much and instead keep the basic shape of the symbol but make it bold and clean for a refresh design.
            </p>
            <h3>
                Colour choice
            </h3>
            <p>
                Red, green, blue and yellow are easily recognisable and historical colours. As well as being good colours for kids.
            </p>
            <p>
                The colours that I chose were a bit darker than normal, because it looks more rich and classic so I think it helps people understand Yvolution is a higher quality brand of toy.
            </p>
        </div>
    </div>

    <div class="grid-1_medium-2">
        <div class="col">
            <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-3.png" />
        </div>
        <div class="col flex-center-vertical text-left">
            <h2>Pattern</h2>
            <p>
                The most famouse products of Yvolution are Velo and Fliker.
                Velo is a balance bike and Fliker is am outdoor toy with 3 wheels.
                They encourage kids to go out and have a fun time!
            </p>
            <p>
                I think it is linked with sport.
                Kids have good time with the toys as well as getting fit and
                improving their motor skills.
            </p>
            <p>
                Because of this I took inspiration from patterns assosiated with sports.
            </p>
        </div>
    </div>

    <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-4.png" />
    <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-5.png" />
    <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-6.png" />
    <img src="img/projects/yvolution-refresh/yvolution-refresh-sub-7.png" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>