@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "GLIDER";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/glider/glider-hero.jpg" />
</div>

<div class="sub-page-content project-images">

    <div class="text-holder">
        <h1>GLIDER REFRESH</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>BRAND VISUAL IDENTITY, PACKAGING SYSTEM</h5>
            </div>
            <div class="col_medium-first text-grey">
                <h5>PATENTED ‘LEARN - GROW - PRO’ STEERING</h5>
                <p>
                    Glider Refresh is the new scooter range of the Yvolution brand.<br />
                    Coming with their new patented Lean, Grow, Pro technology, these scooters can be adjusted to suit kids experience and grow with them.<br />
                    My mission here was to make the packaging for the new scooters range. This packaging needed to show customers that the Glider Refresh helps to develop kids motor skills.<br />
                </p>
                <p>
                    I wanted to show the benefit that the scooters bring to kids on the packaging graphics. I did not want to only have happy faces of kids, but I wanted the parents to see the scooter, product name and the product story first. I tried to highlight what make the scooter different from its competitors, so I selected an image that shows the main feature of the scooter and put it as big as I could using a clean background.<br />
                    I also wanted to explain the 3 level steering system (Learn, Grow, Pro).<br />
                    This system is the most important feature of the new scooter, that’s why I made a clear and simple graphic design so people can focus on it and understand it easily.<br />
                </p>
            </div>
        </div>
    </div>

    <div class="image-break-medium">
        <picture>
            <source media="(max-width: 45rem)" srcset="~/img/projects/glider/glider-sub-1-a-small-only.jpg">
            <img src="~/img/projects/glider/glider-sub-1-a-medium-up.jpg" alt="glider">
        </picture>

        <div class="image-plus-text">
            <div class="image-text-holder lean-to-steer">
                <h3>LEAN TO STEER</h3>
                <p class="text-grey">
                    'Lean to steer' technology is a great way for your child to build confidence and developer gross motor skills without worrying about balance.
                </p>
            </div>
            <picture>
                <source media="(max-width: 45rem)" srcset="~/img/projects/glider/glider-sub-1-b-small-only.jpg">
                <img src="~/img/projects/glider/glider-sub-1-b-medium-up.jpg" alt="glider">
            </picture>
        </div>        
    </div>

    @*<div class="image-plus-text">        
        <div class="lean-to-steer">
            <h3>LEAN TO STEAR</h3>
            <p>
                'Lean to steer' technology is a great way for your child to build confidence and developer gross motor skills without worrying about balance.
            </p>
        </div>
    </div>*@

    <div class="image-group">
        <img src="img/projects/glider/glider-sub-2.jpg" />
        <img src="img/projects/glider/glider-sub-3.jpg" />
    </div>
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>