@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "7even";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/7even/7even-hero.png" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>7EVEN</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YAKULT KOREA</h4>
                <h5>PACKAGING DESIGN</h5>
            </div>
            <div class="col_medium-first text-grey">
                <h5>PATENTED ‘LEARN - GROW - PRO’ STEERING</h5>
                <p>
                    7even is a frozen yogurt ice cream.<br />
                    this project collaborated with a Swedish illustrator Sandra Isaksson.
                </p>
            </div>
        </div>
    </div>
    <img src="img/projects/7even/7even-sub-1.png" />
    <img src="img/projects/7even/7even-sub-2.png" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>