@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "The North Face";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/north-face/north-face-hero.png" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>NORTH FACE WHITE LABEL</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>NORTH FACE KOREA</h4>
                <h5>BRAND DESIGN</h5>
            </div>
        </div>
    </div>
    <img class="break-view-height" src="img/projects/north-face/north-face-sub-1.png" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>