@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "BALANCE BIKE";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/balance-bike/balance-bike-hero.jpg" />
</div>

<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>BALANCE BIKE</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>UX,UI DESIGN</h5>
            </div>
            <div class="col_medium-first text-grey">
                <p>
                    Yvolve Sports Ltd launched a smartphone app connected toy for both kids and their parents, called SMART BALANCE BIKE. The aim of the product is to help kids with their balance skills by connecting an to the bike, so parents can check the progress of their kids motor skills any time they ride their bike.<br />
                    The app tracks 3 main skills: Balance, Speed and Distance.<br />
                    Parents can check the charts and see what skills their kids are good at could use more training.
                </p>
                <p>
                    Kids can also earn rewards for their progress, for example they can get a ‘'well done” trophy and stickers to decorate their virtual Y-robot. Parents can also share photos of their kids to show how well they are progressing. 
                </p>
                <p>
                    What Yvolve Sports had in mind when they created this project, was to create a strong bonding with parents and their kids, so they can spend quality time together:  'sharing time with kids and parents'. Parents are involved in their kids evolution and activity.
                </p>
                <p>
                    Finally, as we wanted the app to be aimed for both parents and kids, the design was created in a way that suits both targets: the graphics couldn’t look too childish but had to remain engaging to children. 
                </p>
            </div>
        </div>
    </div>

    <img class="break-view-height" src="img/projects/balance-bike/balance-bike-body.png" />

</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>