@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "SMOOTHIE KING";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/smoothie-king/smoothie-king-hero.jpg" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>SMOOTHIE KING</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>SMOOTHIE KING</h4>
                <h5>BRAND VISUAL GRAPHIC SYSTEM</h5>
            </div>
            <div class="col_medium-first text-grey">
                <h5>INSPIRE PEOPLE TO LIVE A HEALTHY & ACTIVE LIFESTYLE</h5>
                <p>
                    My mission was to create a new graphic system of their concept graphic system for their shops in Korea. The concept graphic system included flyers, menus and  banners…
                </p>
                <p>
                    Smoothie King's new logo symbol features a crown shape so I used the shape as a pattern on the main graphic to make the design consistent for the whole brand.<br />
                    I also chose a strong pink and lemonish blue colours as highlight colours to make the brand look more energetic and dynamic.
                </p>
            </div>
        </div>
    </div>

    <img src="img/projects/smoothie-king/smoothie-king-sub-1.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-2.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-3.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-4.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-5.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-6.jpg" />
    <img src="img/projects/smoothie-king/smoothie-king-sub-7.jpg" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>