@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "MOBY";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/moby/moby-hero.png" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>MOBY</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>UX/UI DESGIN</h5>
            </div>
            <div class="col_medium-first text-grey">
                
            </div>
        </div>
    </div>
    <img class="break-view-height" src="img/projects/moby/moby-sub-1.png" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>