@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "NEON";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/neon/neon-hero.jpg" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>NEON</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>BRAND VISUAL IDENTITY, PACKAGING SYSTEM</h5>
            </div>
            <div class="col_medium-first text-grey">
                <h5>GLOW WHEREVER YOU GO!</h5>
                <p>
                    In 2015, Yvolve Sports Ltd decided to create a new brand called 'Neon'.<br />
                    My mission was to create NEON brand visual identity. I made the logo, defined the colour pallet, created the packaging designs, catalogues and all the print designs for trade shows.
                </p>
                <p>
                    Neon mainly targets teenagers. So I had to find my inspiration in the new and trendy street fashion, make-up and and accessories that kids of this age find cool. I designed the logo to fit a sporty and strong style. Background images represent a night city view with lights and stage lights.
                </p>
            </div>
        </div>
    </div>
    <div class="image-group">
        <img src="img/projects/neon/neon-sub-1.jpg" />
        <img src="img/projects/neon/neon-sub-2.jpg" />
        <img src="img/projects/neon/neon-sub-3.jpg" />
    </div>
    <div class="image-group">
        <img src="img/projects/neon/neon-sub-4.jpg" />
        <img src="img/projects/neon/neon-sub-5.jpg" />
        <img src="img/projects/neon/neon-sub-6.jpg" />
        <img src="img/projects/neon/neon-sub-7.jpg" />
    </div>
    <div class="image-group">
        <p>DISPLAY IN TOYS'R'US USA</p>
        <img src="img/projects/neon/neon-sub-8.jpg" />
    </div>
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>