@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Born In Ireland";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/born-in-ireland/born-in-ireland-hero.png" />
</div>
<div class="sub-page-content project-images">
    <div class="text-holder">
        <h1>Born in Ireland.</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>BRAND VISUAL SYMBOL MARK</h5>
            </div>
            <div class="col_medium-first text-grey">
                <p>
                    Yvolve Sport is born in Ireland. The company want to represent being ‘Born in Ireland’ stronger.<br />
                    My job was to create  a mark of Ireland.
                </p>
                <p>
                    The company make toys for kids.<br />
                    So I wanted to make a symbol to give another story for kids.
                </p>
                <p>
                    Ireland has such beautiful nature.<br />
                    Sea, mountain and is also full of magical fairy tale stories.
                    
                </p>

                <p>
                    After researching a huge variety of history, I defined Ireland as a green, magical and mysterious island on the earth.
                    There is lots of rain but that means you can also see a rainbow many times. And lots of trees and green fields, fresh air, sometimes full of fog in the morning or midnight it makes you think of some kind of unreal story.
                </p>
            </div>
        </div>
    </div>
    <img src="img/projects/born-in-ireland/born-in-ireland-sub-1.png" />
    <img src="img/projects/born-in-ireland/born-in-ireland-sub-2.png" />
    <img src="img/projects/born-in-ireland/born-in-ireland-sub-3.png" />
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>