@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "GLIDER";
    Page.Hero = 1;
}
<div class="hero">
    <img src="img/projects/glider/glider-hero.jpg" />
</div>

<div class="sub-page-content project-images">

    <div class="text-holder">
        <h1>YVOLUTION SYMBOL MARK</h1>
        <div class="grid-1_medium-2">
            <div class="col">
                <h4>YVOLVE SPORTS</h4>
                <h5>BRAND LOGO DESIGN</h5>
            </div>
        </div>
    </div>

    <img class="break-view-height" src="~/img/projects/yvolution-mark/yvolution-mark-body.png" />

    @*<div class="image-plus-text">        
        <div class="lean-to-steer">
            <h3>LEAN TO STEAR</h3>
            <p>
                'Lean to steer' technology is a great way for your child to build confidence and developer gross motor skills without worrying about balance.
            </p>
        </div>
    </div>*@

    <div class="image-group">
        <img src="img/projects/glider/glider-sub-2.jpg" />
    </div>
</div>

<div class="project-back">
    <a href="~/Default.cshtml">GO BACK TO PORTFOLIO</a>
</div>